PORT=5000
BASE_URL=https://(เว็บไซต์ฝั่งหน้าบ้านVercelของคุณ).vercel.app
MONGO_URI=mongodb+srv://<username>:<password>@clustername.mongodb.net/<database_name>?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_123456
NODE_ENV=development

# Cloudinary (สำหรับฟีเจอร์อัปโหลดภาพโปรไฟล์)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
